body{ font: 14px sans-serif;}
.wrapper{ width: 350px; padding: 20px; }

#welcome_page, .notice{ text-align: center;}


.table-bordered{
    border-radius: 5px;
    width: 60%;
    margin: 0px auto;
    float: none;
    margin-top: 10px;


}


.navbar{
    width: 75%;
    margin: 0px auto;
    float: none;
    margin-bottom: 2px;
    background: red;
}

.nav-item{
    margin-left:30px;
    margin-right:30px;
}

.hide{
    visibility: hidden;
}

.footer{
    padding-top: 10%;
}

.container{
    margin:2px;
}


.jumbotron {
    width: 45%;
    margin: 0px auto;
    float: none;
    padding-top: 5px;
    background: lightgrey;


}

